dist
.vscode
cover.out 
coverage.out
.scannerwork

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

terraform/.terraform*
terraform/terraform.*
